.test{
    border:1px solid red;
}

.top-menu{
    background-color:white;
    box-shadow:0px 8px 8px 0px #ddd;
    padding:20px;
}
.desktop-menu,.mobile-menu{
    display:none;
}

.title{
    font-size: 33px;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    color:#283D50; 
    margin-top:40px;
    margin-bottom:20px;
    font-weight:bold;
}
.about-title-des,.about-title-def{
    font-size:17px;
    font-family: "Montserrat", sans-serif;
    padding:0;
}
.about-title-def{
    margin-top: 20px;
}
.about-feature{
    margin-top: 30px;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    line-height: 20px;
}
.about-feature h5{
    font-weight: bold;
}
.about-icon{
    width: 80px;
    height: 80px;
    background: #65AFFF;
    color: white;
    text-align: center;
    font-size: 35px;
    padding-top: 20px;
    border-radius: 50%;
}
.about-icon-col{
    padding: 5px;
}
.about-pic{
    margin-top: 50px;
}

.teacher-about h5{
    font-family: "verdana", sans-serif;
    font-weight: bold;
}
.teacher-about p{
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
}
.teacher-pic-box-1,.teacher-pic-box-2{
    padding-top: 50px;
}
.service-text h1{
    padding-top: 50px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}
.service-text h4{
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.services-icon{
    font-size: 50px;
    color: #65AFFF;
    padding-top: 40px;
}
.service-box{
    padding-top: 50px;
}
.service-row-2,.service-row-3{
    padding-top: 50px;
}
.choose-us-head h1{
    padding-top: 50px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color:#fff;
    text-shadow: 0px 5px 5px  #000;
}
.choose-us-head p{
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    color:#fff;
}
.choose-us-icon{
    color: white;
    font-size :45px;
    text-align: center;
   
    padding-bottom: 20px;
}
.choose-us-row-1{
    padding-top: 30px;
}
.choose-us-h5,.choose-us-p{
    color: #fff;
    font-family: "Montserrat", sans-serif;
}
.choose-us-h5{
    font-weight: bold;
    font-size: 20px;
}
.choose-us-p{
    font-size: 12px;
}
.filter-box{
    background-image: linear-gradient(white,#65AFFF)
}
.btn-group .btn{
    background: white;
}
.btn-group{
    margin-bottom: 40px;
    box-shadow: 0px 0px 3px gray;
    border-radius: 4px;
}

.img-box{
    width: 100%;
    background: #fff;
    border: 10px solid #fff;
    box-shadow: 0px 0px 10px grey;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}
.img-box h4{
    font-size: 17px;
    font-weight: bold;
}
.img-col{
    padding-top: 20px;
    padding-bottom: 20px;
}
.btn:focus{
    box-shadow: none;
    background: #000;
    color: #fff;
}
.last-footer h1{
    background-color: #88C1FF;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    text-align: center;
    font-size: 40px;
}